input[type=text] {
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
    margin: 8px 0;
    box-sizing: border-box;
}


legend {
	text-align: center;
	text-color: #5B93D5;
}
body,html {
     background: url('Images/BG.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
